@font-face {
    font-family: "Bai Jamjuree";
    src: url("/fonts/baijamjuree-regular-webfont.woff2") format("woff2"),
         url("/fonts/baijamjuree-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Karantina";
    src: url("/fonts/karantina-regular-webfont.woff2") format("woff2"),
         url("/fonts/karantina-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
    font-size: 1rem;
    line-height: 1.2;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}
  
body {
    --background: #000000;
    --primary-text: #ffffff;
    --secondary-text: #959595;
    background: var(--background);
    color: var(--secondary-text);
    font-family: "Bai Jamjuree", sans-serif;
} 

strong {
   color: #cfcfcf;
}

a {
    font-size: inherit;
}

.large {
    font-family: "Karantina", cursive;
    font-size: 20vw;
    text-transform: uppercase;
    color: var(--primary-text);
}
  
.medium {
    font-family: "Karantina", cursive;
    font-size: 10vw;
    text-transform: uppercase;
    color: var(--primary-text);
}
  
.small {
    font-size: clamp(1rem, 2.5vw, 1.25rem); /* 16px → 1rem, 20px → 1.25rem */
    color: var(--primary-text);
    text-transform: uppercase;
}
  
.extra-small {
    font-size: clamp(1rem, 2vw, 1.125rem); /* 16px → 1rem, 18px → 1.125rem */
}

.visually-hidden {
    position: absolute;
    width: 0.0625rem;   /* 1px */
    height: 0.0625rem;  /* 1px */
    padding: 0;
    margin: -0.0625rem; /* -1px */
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
